<configuration>

    <springProperty scope="context" name="application_name" source="spring.application.name"/>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%date %highlight(%-5level) %cyan(%logger{5}@[%-4.30thread]) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="consoleAppender" />
        </root>
    </springProfile>

    <springProfile name="ci | uat | prod">
        <root level="INFO">
            <appender-ref ref="jsonConsoleAppender" />
        </root>
    </springProfile>

</configuration>